{% extends 'core/base.html' %}
{% block content %}
    <title>business</title>
    <div>
{#    #}
{#        {% for b in obj_list %}#}
{#            <a href="{%url "core:treatments_page" b.id %}">#}
{#            {{ b.name }}</a>#}
{#            {% for treat in b.treatments.all %}#}
{#                <p>{{ treat.name }}</p>#}
{#            {% endfor %}#}

        {% for busines in object_list %}
            <a href="{{ busines.get_absolute_url }}">{{busines.name}}</a>
            <h2>{{ busines.name }}</h2>

        {% endfor %}
    </div>
{% endblock content %}



