{% extends 'core/base.html' %}
{% block business %}
    <title>Treatments</title>

    <div class="jumbotron text-center">
    <div class = "head">
        <p>{{ object.description }}</p>
        <p>By {{ object.user.first_name }}</p>
    </div>
    <div style="font-size: 2.5vh">
        <p><u>You can find here:</u></p>
        {% for treat in object.treatments.all %}
            <p>{{ treat.name }}</p>
        {% endfor %}
        <a class="btn" href="{% url 'core:appointment_form' object.id %}">Make an appointment</a>
    </div>
    </div>
{% endblock business %}
{% block scripts %}

{% endblock %}
