{% extends 'core/base.html' %}
{% block content %}
<title>business</title>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Business</th>
                <th scope="col">Treatments</th>
                <th scope="col">Work Days</th>
                <th scope="col">Work Hours</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
            {% for business in object_list %}
                <tr>
                <td><a href="{{ business.get_absolute_url }}">{{ business.user.username }}</a>
                </td>
                <td>{% for treat in business.treatments.all %}
                    <p>{{ treat.name }}</p>
                {% endfor %}
                </td>
                <td>{% for day in business.days.all %}
                    <p>{{ day.day }}</p>
                {% endfor %}
                </td>
                <td>
                    <p>{{ business.start_hour }}-{{ business.end_hour }}</p>
                </td>
                                <td>
                    <p>{{ business.location }}</p>
                </td>
            {% endfor %}
            </tr>

            </tbody>
        </table>
{% endblock content %}