{% extends 'core/base.html' %}
{% block search %}
    <title>Search</title>
    <div style="position: fixed">
        <form class="search" action="{% url 'core:business_list' %}">

            <label for="treatment"><div>Treatment</div>
                <input type="text" id="treatment" name="treatment" value=""></label>
            <label for="fname"><div>Business owner name</div>
                <input type="text" id="fname" name="fname" value=""></label>
            <label for="bname"><div>Business name</div>
                <input type="text" id="bname" name="bname" value=""></label>
            <label for="location"><div>Location</div>
                <input type="text" id="location" name="location" value=""></label>
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
{% endblock search %}