{% extends 'core/base.html' %}
{% block search %}
    <title>Search</title>
    <div>
        <form class="search">
            <label for="treatment">Treatment
                <input type="text" id="treatment" name="treatment" value=""></label>
            <label for="fname">Business owner name
                <input type="text" id="fname" name="fname" value=""></label>
            <label for="bname">Business name
                <input type="text" id="bname" name="bname" value=""></label>
            <label for="location">Location
                <input type="text" id="location" name="location" value=""></label>
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock search %}