body {

}


.search {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    width: 90vw;
    background-image: url(img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.content{
    min-height: calc(100vh - 57px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label {
    width: 30vw
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus,
select:focus{
    border: 3px solid burlywood;
}